.navbar_container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    transition: 0.35s;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.04);
}

.navbar_container a{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 6px;
    text-decoration: none;
    font-family: 'SilkaMedium';
    font-size: 14px;
    color: rgb(13, 17, 23);
}

.selected{
    border-radius: 100px;
    background-color: white;
}

.auth_container > div{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.auth_header{
    font-family: 'MorangaBold';
    color: black;
    font-size: 18px;
    margin-bottom: 1rem;
}

.auth_container img{
    width: 150px;
    height: auto;
}

.macaddress{
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 32px;
    font-family: 'SilkaMedium';
    font-size: 12px;
    line-height: 18px;
    color: rgb(138, 148, 158);
}

.macaddress > div{
    display: flex;
    flex: 1;
}

.auth_input{
    margin-top: 1rem;
}

.macaddress input{
    display: flex;
    flex: 1;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 2px solid rgb(240, 242, 248);
    outline: none;
    font-family: 'SilkaMedium';
}

.macaddress button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-family: 'SilkaMedium';
    color: rgb(138, 148, 158);
    border-bottom: 2px solid rgb(240, 242, 248);
    transition: 0.35s;
}

.macaddress button:hover{
    color: rgb(105, 115, 126);
    transition: 0.35s;
}

.loader{
    display: block;
    position: relative;
    height: 8px;
    width: 10rem;
    background: white;
    border-radius: 100px;
    overflow: hidden;
  }
  .loader::after {
    content: '';
    width: 50%;
    height: 100%;
    background: #f0f2f8;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    box-sizing: border-box;
    animation: animloader 1.25s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
  