.errorPage {
    flex: 1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

@media (max-width: 1000px) {
    .errorPage {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .errorPage {
        width: 850px;
    }
}

.errorInfo {
    text-align: center;
    margin-top: 2.5rem;
}

.errorInfo > div:first-child {
    color: #BBC0C6;
    font-size: 14px;
    font-family: 'SilkaMedium';
}

.errorInfo > div:last-child {
    color: #89939D;
    font-size: 12px;
    line-height: 18px;
    font-family: 'SilkaRegular';
    margin-top: 1rem;
    border-top: 2px solid #30363D;
    padding-top: 1rem;
}
