.container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1000px) {
    .container {
      width: 90%;
    }
}
@media (min-width: 1000px) {
    .container {
      width: 800px;
    }
}

.loaderContainer{
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

.loaderSmallContainer{
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 36px;
    height: 36px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.header_container{
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #30363c59;
}

.header_div_primary{
    display: flex;
}

.header_container > .header_div_primary:first-child{
    background-color: #1f212e8a;
    padding: 1rem 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('../public/icons/waves.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container > .header_div_primary:last-child{
    background-color: #0e1117;
    padding: 1rem 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header_div_primary > div:first-child{
    display: flex;
    flex: 1;
}

.header_div_primary > div:last-child{
    display: flex;
    align-items: flex-end;
}

.header_div_primary > div{
    display: flex;
    flex-direction: column;
}

.header_info_title{
    font-size: 12px;
    color: #8a8a8a;
    font-family: 'SilkaRegular';
}

.header_info_value{
    margin-top: 0.5rem;
    font-size: 16px;
    color: #F2F2F3;
    font-family: 'SilkaMedium';
    display: flex;
}

.header_info_value > div:first-child{
    margin-right: 0.25rem;
}

.header_div_secondary{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header_div_secondary > div:first-child{
    color: white;
    display: flex;
    flex: 1;
    font-size: 14px;
    font-family: 'SilkaMedium';
}

.header_div_secondary > div:last-child{
    color: #f5365c;
    font-size: 14px;
    font-family: 'SilkaMedium';
}

.header_info_green{
    color: #1ac194;
}

.header_info_red{
    color: #f5365c;
}

.header_flex{
    display: flex;
    flex-direction: row;
}

.header_flex > div:last-child{
    color: #1ac194;
    display: flex;
    flex: 1;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    font-size: 16px;
    font-family: 'SilkaMedium';
    display: flex;
}

.flex_right{
    align-items: flex-end;
}

@media (max-width: 500px) {
    .header_flex{
        flex-direction: column;
    }
    .header_flex > div:last-child{
        margin-left: 0rem;
    }
    
}

.expenseHeader{
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.expenseHeader > div:first-child{
    display: flex;
    color: white;
    font-size: 14px;
    margin-bottom: 0.2rem;
    margin-left: 0.25rem;
    font-family: 'SilkaMedium';
    border-bottom: 1px solid #30363c59;
}

.expenseHeader > div:last-child{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: -1rem;
}

.header_btn{
    color: white;
    background-color: #0e1117;
    border: 1px solid #30363c59;
    font-size: 10px;
    font-family: 'SilkaMedium';
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border-radius: 100px;
    margin-right: 1rem;
}

.header_btn > a{
    text-decoration: none; 
    color: white;
}

@media (max-width: 600px) {
    .expenseHeader{
        display: flex;
        flex-direction: column;
    }

    .expenseHeader > div:first-child{
        padding-bottom: 0.25rem;
    }

    .expenseHeader > div:last-child{
        display: flex;
        margin-top: 1rem;
    }

    .expenseHeader > div:last-child div{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}

.expense_container{
    display: flex;
    color: white;
    background-color: #0e1117;
    border: 1px solid #30363c59;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
}

.expense_container > div:first-child{
    font-family: 'SilkaRegular';
    display: flex;
    flex: 1;
    font-size: 12px;
}

.expense_container > div:first-child > div:first-child{
    margin-right: 0.25rem;
}

.expense_container > div:last-child{
    font-family: 'SilkaRegular';
    font-size: 12px;
    color: #f5365c;
}