body {
    margin: 0;
    overflow-x: hidden;
    background-color: #090d11;
}

::-moz-selection {
    background: #A9BEF0;
    color: #FFF2EC;
}
::selection {
    background: #A9BEF0;
    color: #FFF2EC;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

*{
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: "Moranga";
    src: local("Moranga"),
        url(../public/fonts/Moranga-Bold.woff) format("truetype");
}

@font-face {
    font-family: "SilkaMedium";
    src: local("SilkaMedium"),
        url(../public/fonts/Silka-Medium.woff) format("truetype");
}

@font-face {
    font-family: "SilkaRegular";
    src: local("SilkaRegular"),
        url(../public/fonts/Silka-Regular.woff) format("truetype");
}