body {
    margin: 0;
    overflow-x: hidden;
}

::-moz-selection {
    background: #A9BEF0;
    color: #FFF2EC;
}
::selection {
    background: #A9BEF0;
    color: #FFF2EC;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

*{
    -webkit-tap-highlight-color: transparent;
}


@font-face {
    font-family: "MetropolisBlack";
    src: local("MetropolisBlack"),
        url(../public/fonts/Metropolis-Black.otf) format("truetype");
}
@font-face {
    font-family: "MetropolisBold";
    src: local("MetropolisBold"),
        url(../public/fonts/Metropolis-Bold.otf) format("truetype");
}
@font-face {
    font-family: "MetropolisSemiBold";
    src: local("MetropolisSemiBold"),
        url(../public/fonts/Metropolis-SemiBold.otf) format("truetype");
}
@font-face {
    font-family: "MetropolisMedium";
    src: local("MetropolisMedium"),
        url(../public/fonts/Metropolis-Medium.otf) format("truetype");
}
@font-face {
    font-family: "MetropolisRegular";
    src: local("MetropolisRegular"),
        url(../public/fonts/Metropolis-Regular.otf) format("truetype");
}
@font-face {
    font-family: "MetropolisThin";
    src: local("MetropolisThin"),
        url(../public/fonts/Metropolis-Thin.otf) format("truetype");
}