.container {
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }
    .navbar {
        width: calc(100% - 2rem);
        margin: 1rem 1rem 0;
    }
}

@media (min-width: 1000px) {
    .container {
        width: 850px;
    }
    .navbar {
        width: calc(850px - 2rem - 2px);
        margin-left: 1rem;
    }
}

.authPage {
    display: flex;
    flex: 1;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Moranga';
}

.authDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authContainer {
    display: flex;
    margin-top: 0;
    border-radius: 10px;
    border: 1.5px solid rgba(48, 54, 61, 0.588);
}

.authContainer input {
    flex: 1;
    background: transparent;
    border: none;
    font-family: 'SilkaMedium';
    font-size: 12px;
    padding: 1rem;
    padding-left: 1rem;
    outline: none;
    color: rgb(240, 242, 248);
    border-radius: 0;
}

.authContainer input::placeholder {
    font-weight: bold;
    color: rgb(137, 147, 157);
}

.authContainer button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SilkaMedium';
    font-size: 12px;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 5rem;
    border-radius: 6px;
    background: rgba(48, 54, 61, 0.413);
    border: none;
    color: rgb(240, 242, 248);
}

.authContainer input::placeholder {
    color: rgba(255, 255, 255, 0.318);
}

.navbar {
    overflow: hidden;
    background-color: #090d11;
    position: fixed;
    bottom: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    box-shadow: 0px 0px 50px #090d11;
}

.navSelected {
    background-color: rgba(33, 38, 44, 0.376);
    margin: 0.25rem;
    border-radius: 100px;
}

.navbar a {
    margin: 0.25rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'SilkaMedium';
    cursor: pointer;
}

.navbar a.active {
    color: white;
}

.loader {
    width: 16px;
    height: 16px;
    border: 2.5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}