.container {
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .container {
        width: 850px;
    }
    .navbar {
        width: calc(850px - 2rem - 2px);
        margin-left: 1rem;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }
    .navbar {
        width: calc(100% - 2rem);
        margin: 1rem 1rem 0;
    }
}

.header_container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.header_container > div:first-child{
    color: white;
    font-size: 20px;
    font-family: 'Moranga';
    display: flex;
    flex: 1;
}

.header_container > div > div{
    display: flex;
    background-color: #0e1117;
    border: 1px solid #30363c59;
    border-radius: 10px;
    padding-left: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    min-width: 185px;
}

.header_container > div button{
    display: flex;
    background-color: #0e1117;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 1rem;
    border: 1px solid #30363c59;
    padding: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.header_container > div button:hover{
    border: 1px solid #48515988;
    transition: 0.35s;
}

.header_container > div:last-child{
    font-size: 10px;
    font-family: 'SilkaRegular';
    padding: 0.75rem;
    border-radius: 10px;
    color: rgb(137,147,157);
}

.prod_green{
    background-color: rgba(26, 193, 149, 0.062) !important;
    border: 1px solid rgba(26, 193, 149, 0.211) !important;
}

.prod_blue{
    background-color: rgba(26, 162, 193, 0.099) !important;
    border: 1px solid rgba(26, 162, 193, 0.211) !important;
}

.prod_red{
    background-color: rgba(193, 26, 79, 0.084) !important;
    border: 1px solid rgba(193, 26, 79, 0.283) !important;
}

.authPage {
    display: flex;
    flex: 1;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Moranga';
}

.authPageContainer{
    background: rgba(48, 54, 61, 0.133);
    padding: 2.5rem;
    padding-bottom: 3.5rem;
    padding-top: 0rem;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(51, 54, 57, 0.144);
}

.authPageInfo{
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-bottom: 1px solid rgba(48, 54, 61, 0.413) ;
}

.authPageInfo div{
    font-family: 'SilkaRegular';
    font-size: 10px;
    color: rgb(137, 147, 157);
}

.authPageInfo > div:last-child{
    margin-left: 0.5rem;
}

.authDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
    font-family: 'SilkaRegular';
    font-size: 10px;
    color: rgb(137, 147, 157);
}

.authContainer {
    display: flex;
    margin-top: -1rem;
    border-radius: 10px;
    border: 1.5px solid rgba(48, 54, 61, 0.588);
}

.authContainer input {
    flex: 1;
    background: transparent;
    border: none;
    font-family: 'SilkaMedium';
    font-size: 12px;
    padding: 1rem;
    padding-left: 1rem;
    outline: none;
    color: rgb(240, 242, 248);
    border-radius: 0;
}

.authContainer input::placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.318);
}

.authContainer button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SilkaMedium';
    font-size: 12px;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 5rem;
    border-radius: 6px;
    background: rgba(48, 54, 61, 0.413);
    border: none;
    color: rgb(240, 242, 248);
}

.authContainer button:active {
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.151);
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #090d11;
    border-radius: 100px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 50px 50px #090d11;
    border: 2px solid #30363c59;
}

.navSelected {
    background-color: rgba(33, 38, 44, 0.376);
    margin: 0.25rem;
    border-radius: 100px;
}

@media (max-width: 600px) {
    .authPageContainer{
        padding: 1rem;
        padding-bottom: 3.5rem;
        padding-top: 0rem;
    }
    .authContainer {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .header_container{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }
    
    .header_container > div:first-child{
        font-size: 14px;
    }
    
    .header_container > div > div{
        padding-left: 0.5rem;
        min-width: 150px;
    }
    
    .header_container > div button{
        margin-left: 1rem;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .header_container > div button:hover{
        border: 1px solid #48515988;
        transition: 0.35s;
    }
    
    .header_container > div:last-child{
        font-size: 8px;
        font-family: 'SilkaRegular';
        padding: 0.75rem;
        border-radius: 10px;
        color: rgb(137,147,157);
    }
}

.navbar a {
    margin: 0.25rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'SilkaMedium';
    cursor: pointer;
}

.navbar a.active {
    color: white;
}

.loader {
    width: 16px;
    height: 16px;
    border: 2.5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}