.container {
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1000px) {
    .container {
      width: 100%;
    }
    .navbar {
        width: calc(100% - 2rem);
        border: 1px solid #30363c59;
        border-radius: 100px;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}
@media (min-width: 1000px) {
    .container {
      width: 850px;
    }
    .navbar {
        width: calc(850px - 2rem - 2px);
        margin-left: 1rem;
        border: 1px solid #30363c59;
        border-radius: 100px;
        margin-bottom: 1rem;
    }
}

.auth_page{
    display: flex;
    flex: 1;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Moranga';
}

.auth_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_container{
    display: flex;
    margin-top: 0rem;
    border-radius: 10px;
    border: 1.5px solid rgb(48, 54, 61);
}

.auth_container input{
    display: flex;
    flex: 1;
    background: transparent;
    border: none;
    font-family: 'SilkaMedium';
    font-size: 12px;
    padding: 1rem;
    padding-left: 0rem;
    outline: none;
    color: rgb(240, 242, 248);
    padding-left: 1rem;
    border-radius: 0px;
}

.auth_container input::placeholder {
    font-weight: bold;
    color: rgb(137,147,157);
}


.auth_container button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SilkaMedium';
    font-size: 12px;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 5rem;
    border-radius: 0px;
    border: none;
    color: rgb(240, 242, 248);
    border-radius: 6px;
    background-color: rgba(48, 54, 61, 0.413);
}

.auth_container input ::placeholder{
    color: #ffffff50;
}

.navbar {
    overflow: hidden;
    background-color: #090d11;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
    box-shadow: 0px 0px 50px 50px #090d11;
}

.nav_selected{
    background-color: #21262c60;
    margin: 0.25rem;
    border-radius: 100px;
}

.navbar a {
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'SilkaMedium';
    cursor: pointer;
}

.navbar a.active {
    color: white;
}

.loader {
    width: 16px;
    height: 16px;
    border: 2.5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 