.password_page{
    background-color: #FFFFFF;
}

.header_container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: 'MetropolisMedium';
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.category_container{
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0.45rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 100px;
    background-color: #EBEFF2;
}

.password_container{
    display: flex;
    flex-direction: column;
}

.password_card{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #F7F8FA;
    border-bottom: 1px solid #F7F8FA;
}

.password_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MetropolisSemiBold';
    font-size: 20px;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 100%;
    background-color: #E9EDF0;
}

.password_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.password_detail > div:first-child{
    color: #15191C;
    font-size: 18px;
    font-family: 'MetropolisMedium';
}

.password_detail > div:last-child{
    color: #BBC0C6;
    margin-top: 0.5rem;
    font-size: 14px;
    font-family: 'MetropolisMedium';
}

.password_arrow{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}