.navbar_container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.04);
}

.navbar_container a{
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 6px;
    text-decoration: none;
    font-family: 'SilkaMedium';
    font-size: 14px;
    color: rgb(13, 17, 23);
}

.selected{
    border-radius: 100px;
    background-color: white;
}